.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
}

.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
}

.container div{
    cursor: pointer;
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 5px;
}

.container div:hover{
    width: 80px;
    height: 60px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 20px;
}

.new_main{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
    margin: auto;
    padding: 10px;
}

.title{
    margin-left: 200px;
}

.card{
    width: 200px;
    height: 240px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card img{
    width: 200px;
}